.card-photo {
  transition: all 0.3s ease-in-out;
   cursor: pointer;
}

.card-photo:hover {
  transform: scale(0.95);
}

img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.modal-content {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;

  img {
    height: 70vh;
    border-radius: 8px;
  }
}


